{{> head }}

    {{> navbar}}

<div class="row">
    <div class="container">
        <div class="col-8">
            <h1>Esto es el H1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repudiandae iste iure porro nam cupiditate ipsum dolore. Accusantium illum ab eum iure placeat numquam cupiditate quod voluptate aspernatur, ducimus voluptatibus!</p>
        </div>
        <div class="col-4">
            <img class="img-thumbnail" src="{{ img }}">
        </div>
    </div>
</div>

{{> footer }}